<IfModule mod_rewrite.c>
  RewriteEngine On

  # Disabilita directory listing
  Options -Indexes

  # Blocca accesso diretto a cartelle sensibili
  RewriteRule ^config/ - [F,L]
  RewriteRule ^api/(Core|Middleware|Models)/ - [F,L]

</IfModule>
