RewriteEngine On

DirectoryIndex index.php

# forza url senza .php
RewriteCond %{THE_REQUEST} \.php
RewriteRule ^(.+)\.php$ /$1 [R=301,L]

# se file/cartella esistono non riscrivere
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# aggiunge .php internamente
RewriteRule ^([^/]+)/?$ $1.php [L]